/**
 * Xpra Typescript Client Example
 * @link https://github.com/andersevenrud/xpra-html5-client
 * @author Anders Evenrud <andersevenrud@gmail.com>
 */

body {
  font-family: 'DM Sans', sans-serif;
}

#xpra-desktop::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: transparent url('./app/x11.png') no-repeat 50% 50%;
  opacity: 0.02;
  background-size: cover;
  filter: blur(10px);
}

.fade-on-out-enter {
  opacity: 0;
}
.fade-on-out-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-on-out-exit {
  opacity: 1;
}
.fade-on-out-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.fade-on-out-exit-done {
  display: none;
}
.fade-on-out-enter-done {
  display: auto;
}
